.configurator-vehicle-multiple-option {
  padding: 20px;
  width: 120px;
  border: 2px solid #d1d1d1;
  margin: 5px;
  cursor: pointer;
}

.configurator-vehicle-multiple-option:hover {
  border: 2px solid #999999;
}

.configurator-vehicle-option-checkbox {
  cursor: pointer;
}
