.configurator-vehicle-single-option {
  padding: 20px;
  width: 120px;
  border: 2px solid #d1d1d1;
  margin: 5px;
  cursor: pointer;
}

.configurator-vehicle-single-option:hover {
  border: 2px solid #999999;
}